body {
    background-image: url(../img/gradient.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #EFEFF2;
    width: 100vw;
    height: 100vh;
}
 
header {
    width: 1440px;
    height: 46px;
    margin-top: 35px;
    margin-left: 240px;
}

header.a {


}

.nav. ul. a: {
    size: 18px;
    line height: 22px;
    background:#19191C;

 }
 body {
    width: 1920;
 }