@font-face {
    font-family: "cera-pro-regular";
    src: url(../fonts/CeraRoundProDEMO-Regular.otf);
}

@font-face {
    font-family: "cera-pro-black";
    src: url(../fonts/CeraRoundProDEMO-Black.otf);
}

@font-face {
    font-family: "cera-pro-bold";
    src: url(../fonts/CeraRoundProDEMO-Bold.otf);
}

@font-face {
    font-family: "cera-pro-light";
    src: url(../fonts/CeraRoundProDEMO-Light.otf);
}

@font-face {
    font-family: "cera-pro-medium";
    src: url(../fonts/CeraRoundProDEMO-Medium.otf);
}

@font-face {
    font-family: "cera-pro-medium";
    src: url(../fonts/CeraRoundProDEMO-Thin.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'cera-pro-regular' !important;
}

.left-right-wrapper {
    display: flex;
    padding: 171px 105px 0 105px;
}

.nav-wrapper {
    display: flex;
    flex-direction: column;
    padding: 14px 189px 377px 18px;
    background-color: #46a35800;
}

nav {
    display: flex;
    flex-direction: column;
    padding: 7px 0 0 12px;
}

nav a:first-child {
    color: #46a358;
}

nav a {
    font-size: 16px;
    color: #3d3d3d;
    line-height: 40px;
}

.left-col {
    background-color: #fbfbfb;
    width: 314px;
    height: 1246px;
}

span {
    color: #3d3d3d;
    font-size: 18px;
    font-weight: bold;
}

.right-col {
    margin-left: 50px;
}

.header {
    width: 838px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 0px 3px 0px;
    margin-bottom: 31px;
}

.left-header a {
    margin-right: 37px;
    color: #3d3d3d;
}

.left-header a:first-child {
    color: #46a358;
}

.right-header span {
    margin: 8px;
    color: #3d3d3d;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 90px;
}

.card {
    width: 258px;
    height: 350px;
    margin-bottom: 70px;
}

.card img {
    padding: 31px 4px 19px 4px;
    background-color: #fbfbfb;
    height: 300px;
}

.card p {
    line-height: 26px;
    color: #46a358;
}

.margin {
    margin: 0 33px;
}

h4 {
    color: #3d3d3d;
    line-height: 26px;
}

footer {
    height: 35px;
    display: flex;
    justify-content: flex-end;
}

tr {
    display: flex;
}

td {
    border: #3d3d3d 1px solid;
    width: 35px;
    height: 35px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

td:first-child {
    color: #fbfbfb;
    background-color: #46a358;
}
