@font-face {
    font-family: "cera-pro-regular";
    src: url(../fonts/CeraRoundProDEMO-Regular.otf);
}

@font-face {
    font-family: "cera-pro-black";
    src: url(../fonts/CeraRoundProDEMO-Black.otf);
}

@font-face {
    font-family: "cera-pro-bold";
    src: url(../fonts/CeraRoundProDEMO-Bold.otf);
}

@font-face {
    font-family: "cera-pro-light";
    src: url(../fonts/CeraRoundProDEMO-Light.otf);
}

@font-face {
    font-family: "cera-pro-medium";
    src: url(../fonts/CeraRoundProDEMO-Medium.otf);
}

@font-face {
    font-family: "cera-pro-medium";
    src: url(../fonts/CeraRoundProDEMO-Thin.otf);
}
