@font-face {
    font-family: "cera-pro-regular";
    src: url(../fonts/CeraRoundProDEMO-Regular.otf);
}

@font-face {
    font-family: "cera-pro-black";
    src: url(../fonts/CeraRoundProDEMO-Black.otf);
}

@font-face {
    font-family: "cera-pro-bold";
    src: url(../fonts/CeraRoundProDEMO-Bold.otf);
}

@font-face {
    font-family: "cera-pro-light";
    src: url(../fonts/CeraRoundProDEMO-Light.otf);
}

@font-face {
    font-family: "cera-pro-medium";
    src: url(../fonts/CeraRoundProDEMO-Medium.otf);
}

@font-face {
    font-family: "cera-pro-medium";
    src: url(../fonts/CeraRoundProDEMO-Thin.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "cera-pro-regular" !important;
    text-decoration: none;
    list-style: none;
}

.container {
    padding: 171px 105px 101px 105px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 838px;
    height: 23px;
    margin-bottom: 32px;
}

.nav-items {
    transition: 0.5s;
}

.nav-items a {
    margin-right: 40px;
    font-size: 16px;
}

nav a:hover {
    color: #46a358;
    cursor: pointer;
    border-bottom: #46a358 1px solid;
}

nav ul {
    width: 100%;
}

nav ul li:first-child {
    margin-top: 0;
}

.menu {
    display: flex;
    width: 126px;
}

.menu ul {
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    z-index: 1;
}

.menu li {
    position: relative;
    width: 200px;
}

.menu li:hover > ul {
    display: block;
}

.menu a {
    display: block;
}

.menu a:hover {
    color: #46a358;
}

.menu ul ul {
    display: none;
    position: absolute;
    top: 2px;
    left: 72%;
}

.card-wrapper {
    display: flex;
    justify-content: space-between;
    width: 840px;
    height: 350px;
    left: 105px;
    top: 225px;
}

.card {
    width: 258px;
    height: 350px;
    position: relative;
}

.card:hover {
    cursor: pointer;
    border-top: #46a358 1px solid;
}

.item {
    height: 300px;
    width: 258px;
    background-color: #fbfbfb;
}

.sort-items {
    position: relative;
    display: flex;
}

.sort-items span {
    margin-right: 8px;
}

.card h3 {
    margin-top: 12px;
    margin-bottom: 6px;
}

.shop {
    position: absolute;
    bottom: 58px;
    left: 64px;
}

.shop img {
    margin-left: 14px;
}

.discount {
    position: absolute;
    top: 14px;
    left: 0;
}

.sale {
    display: flex;
}

.sale p {
    margin-right: 16px;
}

p {
    color: #46a358;
}
